<!DOCTYPE html>
<html lang="en">


<head>
<title>ASTRO-Update: the Latest in Astronomy Software</title>

<!--#include virtual="/docs/swheader.html"-->


<link type="text/css" rel=stylesheet href="/docs/portal.css">
<link rel="stylesheet" type="text/css" href="/docs/print.css" media="print">



<style>
        table.tablesorter td { padding: 3px; }
        table.tablesorter tr.odd td { background: #ffeeee;}
</style>

<script type="text/javascript" src="inc/jquery/jquery-latest.js"></script>
<script type="text/javascript" src="inc/jquery/jquery.tablesorter.js"></script>

<script type="text/javascript" id="js">
   $(document).ready(function() {
      // call the tablesorter plugin
      $("#astroupdate_software").tablesorter({
      widgets: ['zebra']
      });
   });
</script>

<script type="text/javascript" id="js">
   $(document).ready(function() {
      // call the tablesorter plugin
      $("#astroupdate_data").tablesorter({
      widgets: ['zebra']
      });
   });
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10809051-3");
pageTracker._trackPageview();
} catch(err) {}</script>


</head>

<body topmargin="0" bgcolor="#000000" onload="init()">

<a name="top"></a>

<br>
<h1 align="center"><i>ASTRO-Update</i>: Keep your astronomy analysis software up-to-date</h1>
<br>
<a href="astro-update.rss"> <img src="/Images/icons/feed-icon-28x28.gif" border="0" width="14" alt="RSS"></a>

<!-- AddThis Button BEGIN -->
<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pub=xa-4ae9cead21d1de7e"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=xa-4ae9cead21d1de7e"></script>
<!-- AddThis Button END -->

<h2>Software Packages</h2>
<i> Click the column headings to sort</i>
<!-- (<a href="notifyme.html">notify me</a> if this page changes)<p> -->

    <table align="center" border="1">
   {% block atable %}
   {% endblock %}
   </table>
   
</body>
</html>

<br>
<br>


<h2>Associated Data</h2>

<!--#include virtual="inc/associated_data.html" -->

<hr><p>

<h3>Other astrophysics software resources</h3>

<ul>
    <li>The CXC list of <a href="http://cxc.harvard.edu/ciao/download/contrib.html">Contributed Software</a> for X-ray astronomy</li>

    <li>The Fermi Science Support Center list of <a href="https://fermi.gsfc.nasa.gov/ssc/data/analysis/user/">Contributed Software</a>
        for Gamma-ray astronomy</li>

    <li>SAO's list of
    <a href="http://tdc-www.harvard.edu/astro.software.html">Astronomical Software on the Web</a></li>

    <li><a href="http://ascl.net/">The Astrophysics Source Code Library</a></li>

    <li><a href="http://www.astrobetter.com/">AstroBetter</a>: Tips and Tricks for Professional Astronomers</li>

    <li><a href="http://hea-www.harvard.edu/AstroStat/">International CHASC Astro-Statistics Collaboration</a> </li>

</ul>

<hr><p>

Would you like your software package added to the Astro-Update list or have other comments?<br>
Send  a message to <a href="/cgi-bin/Feedback">General HEASARC Feedback</a>
<br>
<!--==============================================================-->
Page author:
<A target="_top" HREF="http://asd.gsfc.nasa.gov/Michael.Corcoran/">Michael F.
Corcoran</A><br>
<!-- #LASTMODIFIED TEXT="Last modified" FORM="LONG" -->
Last modified <!--#echo var="LAST_MODIFIED" -->
<!-- /#LASTMODIFIED -->
</p>

</body>
</html>